@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  font-family: "Poppins", sans-serif;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg_project_card {
  background: #2397C1;
  ; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(
    #2397C1,
    #2397C1
    ),
    url("/assets/project-card-bg.jpeg");
  background: linear-gradient(#2397C1, #2397C1),
    url("/assets/project-card-bg.jpeg");
}
